# Assignment #7 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2024</br>

Name: Colin Glory
</br>
Date: 2/29/24
<br>
<br>
**At this time in the semester:** <br>
--We have explored a dataset. <br>
--We have cleaned our dataset. <br>
--We created a Github account with a repository for this class and included a Metadata file about our data. <br>
--We introduced general SQL syntax, queries, and applications in R.<br>
--Created our own database from scratch in R using libraries RMariaDB and RSQLite <br>
<br>

Now we will populate and create **all** tables for our dataset into our database.<br>

We used two R packages to create two separate databases for practice in our previous assignment. One was stored on our MySQL server using R package RMariaDB, and the other was stored locally using R package RSQLite. Choose ONE of the methods we practiced to continue to create all tables and populate your tables with your data from your dataset (Feel free to practice with both methods!). After using either method, create a visual database schema diagram in MySQL Workbench. <br>
Keep in mind - if you are creating your database locally with RSQLite, you can then upload your database.db file to the MySQL Workbench to obtain the database schema diagram.
<br>
Follow the instructions below to complete the assignment. Be sure to comment all code. Include a .png image of your database schema from MySQL Workbench in your Blackboard submission or Github repository.

R Package for creating database tables: RMariaDB

In [ ]:
#Install necessary packages. After you have them installed, do not install them again. You should already have these installed from Assignment #4.
#Continuing to run install.packages could update the versions of other dependent packages.
#install.packages("RMariaDB")
#install.packages("DBI")
#install.packages("sqldf")
#install.packages("RSQLite")

In [6]:
#Only uncomment the R package(s) you plan to use. 
library(DBI)
library(RMariaDB)
#library(RSQLite)

In [1]:
#Connect to the database you created in Assignment #6 using your preferred method.

In [36]:
# Database variables
localuserpassword <- "Charlie@bowie212" 
localport <- 3306 
db_name <- "assignment6"

In [37]:
#Connect to the server using MariaDB()
con <- dbConnect(RMariaDB::MariaDB(), 
                 host = 'localhost',
                 user = 'root',
                 password = localuserpassword,
                 port = localport)

In [12]:
#Create your first database integrated with MySQL Workbench. Use:
dbExecute(con, paste("CREATE DATABASE IF NOT EXISTS ", db_name))
#This code will create the database if it does not already exist with the db_name you defined above.
#Depending on your package versions, you may not need paste().

#If you have multiple databases, it is important to specify what database you are using.
#This especially applies if you have reused code to create multiple databases!
dbExecute(con, paste("USE", db_name))

#Note above paste() function.
#This may not be needed and depends on your version of R/SQLpackages.

[1] 1

[1] 0

In [34]:
df <- read.csv("cleaned_data.csv")

In [27]:
df

      employee_id job_title                       experience_level
1      1          Data Engineer                   Mid-level
2      2          Data Engineer                   Mid-level
3      3          Data Scientist                  Senior-level
4      4          Data Scientist                  Senior-level
5      5          BI Developer                    Mid-level
6      6          BI Developer                    Mid-level
7      7          Research Analyst                Entry-level
8      8          Research Analyst                Entry-level
9      9          Data Engineer                   Executive-level
10    10          Data Engineer                   Executive-level
11    11          Business Intelligence Developer Mid-level
12    12          Business Intelligence Developer Mid-level
13    13          Data Scientist                  Mid-level
14    14          Data Scientist                  Mid-level
15    15          Data Engineer                   Mid-level
16    16          Data Engineer                   Mid-level
17    17          Data Scientist                  Mid-level
18    18          Data Scientist                  Mid-level
19    19          Data Scientist                  Mid-level
20    20          Data Scientist                  Mid-level
21    21          Data Engineer                   Senior-level
22    22          Data Engineer                   Senior-level
23    23          Data Scientist                  Mid-level
24    24          Data Scientist                  Mid-level
25    25          Data Analyst                    Entry-level
26    26          Data Analyst                    Entry-level
27    27          Director of Data Science        Executive-level
28    28          Director of Data Science        Executive-level
29    29          MLOps Engineer                  Senior-level
30    30          MLOps Engineer                  Senior-level
⋮     ⋮           ⋮                               ⋮
11058 11058       Data Scientist                  Mid-level
11059 11059       Data Scientist                  Mid-level
11060 11060       Machine Learning Engineer       Senior-level
11061 11061       Product Data Analyst            Mid-level
11062 11062       Data Engineer                   Senior-level
11063 11063       Data Engineer                   Mid-level
11064 11064       Data Scientist                  Mid-level
11065 11065       Big Data Engineer               Senior-level
11066 11066       Big Data Engineer               Senior-level
11067 11067       Data Analyst                    Mid-level
11068 11068       Data Engineer                   Mid-level
11069 11069       Data Scientist                  Entry-level
11070 11070       Data Scientist                  Entry-level
11071 11071       Data Scientist                  Mid-level
11072 11072       Data Engineer                   Executive-level
11073 11073       Data Scientist                  Mid-level
11074 11074       AI Scientist                    Entry-level
11075 11075       Data Analyst                    Entry-level
11076 11076       Data Scientist                  Entry-level
11077 11077       Data Engineer                   Entry-level
11078 11078       Data Engineer                   Mid-level
11079 11079       ML Engineer                     Entry-level
11080 11080       Data Scientist                  Mid-level
11081 11081       Data Scientist                  Entry-level
11082 11082       Principal Data Scientist        Senior-level
11083 11083       Staff Data Analyst              Entry-level
11084 11084       Staff Data Analyst              Executive-level
11085 11085       Machine Learning Manager        Senior-level
11086 11086       Data Engineer                   Mid-level
11087 11087       Data Scientist                  Senior-level
      employment_type work_models work_year employee_residence salary
1     Full-time       Remote      2024      United States      148100
2     Full-time       Remote      2024      United States       98700
3     Full-time       Remote      2024      United States      140032
4     Full-time       Remote      2024      United States      100022
5     Full-time       On-site     2024      United States      120000
6     Full-time       On-site     2024      United States       62100
7     Full-time       On-site     2024      United States      250000
8     Full-time       On-site     2024      United States      150000
9     Full-time       Remote      2024      United States      219650
10    Full-time       Remote      2024      United States      136000
11    Full-time       On-site     2024      United States       87800
12    Full-time       On-site     2024      United States       76300
13    Full-time       Remote      2024      United States      148100
14    Full-time       Remote      2024      United States       98700
15    Full-time       On-site     2024      United States      145500
16    Full-time       On-site     2024      United States       93000
17    Full-time       On-site     2024      United States       85000
18    Full-time       On-site     2024      United States       75000
19    Full-time       On-site     2024      United States      105000
20    Full-time       On-site     2024      United States       70000
21    Full-time       On-site     2024      United States      204662
22    Full-time       On-site     2024      United States      184662
23    Full-time       On-site     2024      United States      179000
24    Full-time       On-site     2024      United States      112000
25    Full-time       On-site     2024      United States      115000
26    Full-time       On-site     2024      United States       85000
27    Full-time       On-site     2024      United States      225000
28    Full-time       On-site     2024      United States      180000
29    Full-time       On-site     2024      United States      175000
30    Full-time       On-site     2024      United States      110000
⋮     ⋮               ⋮           ⋮         ⋮                  ⋮
11058 Full-time       On-site     2020      India               3000000
11059 Full-time       Hybrid      2020      Hungary            11000000
11060 Full-time       Remote      2020      Croatia               40000
11061 Full-time       On-site     2020      Honduras              20000
11062 Full-time       Hybrid      2020      Greece                42000
11063 Full-time       Hybrid      2020      United Kingdom        88000
11064 Full-time       Remote      2020      United Kingdom        60000
11065 Full-time       Hybrid      2020      United Kingdom        85000
11066 Full-time       Remote      2020      Poland               100000
11067 Full-time       Hybrid      2020      France                41000
11068 Full-time       Hybrid      2020      France                61500
11069 Full-time       On-site     2020      France                45000
11070 Full-time       On-site     2020      France                35000
11071 Full-time       Hybrid      2020      France                37000
11072 Full-time       Hybrid      2020      Spain                 70000
11073 Full-time       Remote      2020      Spain                 34000
11074 Full-time       Hybrid      2020      Denmark              300000
11075 Full-time       On-site     2020      Germany               42000
11076 Full-time       On-site     2020      Germany               43200
11077 Full-time       Remote      2020      Pakistan              48000
11078 Full-time       Remote      2020      Germany               51999
11079 Part-time       Remote      2020      Germany               14000
11080 Full-time       On-site     2020      Germany               70000
11081 Full-time       Hybrid      2020      Germany               55000
11082 Full-time       Remote      2020      Germany              130000
11083 Contract        Hybrid      2020      Canada                60000
11084 Full-time       On-site     2020      Nigeria               15000
11085 Full-time       Hybrid      2020      Canada               157000
11086 Full-time       Hybrid      2020      Austria               65000
11087 Full-time       On-site     2020      Austria               80000
      salary_currency salary_in_usd company_location company_size
1     USD             148100        United States    Medium
2     USD              98700        United States    Medium
3     USD             140032        United States    Medium
4     USD             100022        United States    Medium
5     USD             120000        United States    Medium
6     USD              62100        United States    Medium
7     USD             250000        United States    Medium
8     USD             150000        United States    Medium
9     USD             219650        United States    Medium
10    USD             136000        United States    Medium
11    USD              87800        United States    Medium
12    USD              76300        United States    Medium
13    USD             148100        United States    Medium
14    USD              98700        United States    Medium
15    USD             145500        United States    Medium
16    USD              93000        United States    Medium
17    USD              85000        United States    Medium
18    USD              75000        United States    Medium
19    USD             105000        United States    Medium
20    USD              70000        United States    Medium
21    USD             204662        United States    Medium
22    USD             184662        United States    Medium
23    USD             179000        United States    Medium
24    USD             112000        United States    Medium
25    USD             115000        United States    Medium
26    USD              85000        United States    Medium
27    USD             225000        United States    Medium
28    USD             180000        United States    Medium
29    USD             175000        United States    Medium
30    USD             110000        United States    Medium
⋮     ⋮               ⋮             ⋮                ⋮
11058 INR              40481        India            Large
11059 HUF              35735        Hungary          Large
11060 EUR              45618        Croatia          Small
11061 USD              20000        Honduras         Small
11062 EUR              47899        Greece           Large
11063 GBP             112872        United Kingdom   Large
11064 GBP              76958        United Kingdom   Small
11065 GBP             109024        United Kingdom   Medium
11066 EUR             114047        United Kingdom   Small
11067 EUR              46759        France           Large
11068 EUR              70139        France           Large
11069 EUR              51321        France           Small
11070 EUR              39916        France           Medium
11071 EUR              42197        France           Small
11072 EUR              79833        Spain            Large
11073 EUR              38776        Spain            Medium
11074 DKK              45896        Denmark          Small
11075 EUR              47899        Germany          Large
11076 EUR              49268        Germany          Small
11077 EUR              54742        Germany          Large
11078 EUR              59303        Germany          Small
11079 EUR              15966        Germany          Small
11080 EUR              79833        Germany          Large
11081 EUR              62726        Germany          Small
11082 EUR             148261        Germany          Medium
11083 CAD              44753        Canada           Large
11084 USD              15000        Canada           Medium
11085 CAD             117104        Canada           Large
11086 EUR              74130        Austria          Large
11087 EUR              91237        Austria          Small

In [28]:
# Second table creation
second_table_query <- " CREATE TABLE salary (
                        employee_id INT,
                        salary DECIMAL(10, 2),
                        salary_currency VARCHAR(3),
                        salary_in_usd DECIMAL(10, 2),
                        company_location VARCHAR(255),
                        company_size VARCHAR(255),
                        FOREIGN KEY (employee_id) REFERENCES employee(employee_id)
                                                           
                                              );"
#Execute the query:
dbExecute(con, second_table_query)

[1] 0

In [29]:
# Populating the table with data

#This is our table name we created
table_name <- "salary"

#Write a query that will show the column names from the table we created
query <- paste("SHOW COLUMNS FROM", table_name)

#Get the query and retrieve the column/field names from the database(con)
db_columns <- dbGetQuery(con, query)$Field

#Define the common columns between the CSV data (Column names) and the database (Table fields)
common_columns <- intersect(colnames(df), db_columns)

In [30]:
#These are the ONLY columns that we will transfer into the table.
common_columns

[1] "employee_id"      "salary"           "salary_currency"  "salary_in_usd"
[5] "company_location" "company_size"

In [31]:
#Create a subset of the original .csv data turtles with only the specified column names.
df_subset <- df[, common_columns]

In [32]:
dbWriteTable(con, "salary", df_subset, append = TRUE, row.names = FALSE, overwrite = FALSE, null = "NULL")

In [38]:
# Example Query

query1 <- "SELECT * 
           FROM salary"

# Execute the query
result <- dbGetQuery(con, query1)

# Print the result
print(result)

ERROR: Error: No database selected [1046]

In [35]:
#Close the database connection :)
dbDisconnect(db)

ERROR: Error in h(simpleError(msg, call)): error in evaluating the argument 'conn' in selecting a method for function 'dbDisconnect': object 'db' not found

**MySQL Workbench**<br>
To export your database schema as a .PNG:<br>
->Go to your EER Diagram<br>
->File<br>
->Export<br>
->Export as .PNG